{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Run <b>--comp</b> on a given Zillow ID {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<!-- Display flashed messages here -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-info">
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}


<!-- Display clickable links to comperable properties-->

{% if comps %}
<br>
<div>
    <h2>Comparable Properties:</h2>
    <ul>
        {% for comp in comps %}
        <li><a href="{{ comp }}" target="_blank">{{ comp }}</a></li>
        {% endfor %}
    </ul>
</div>
{% else %}
<div class="alert alert-warning">
    No comparable properties found.
</div>
{% endif %}


{% endblock %}
