{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Run <b>--describe</b> on a given Zillow ID {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<!-- Display flashed messages here -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-info">
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}

{% if description %}
<div>
    <br>
    <h2>Description:</h2>
    <p>{{description}}</p>
</div>
{% endif %}

{% endblock %}