{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Get price history for a home {% endblock %}</h1>

<!-- Display flashed messages here -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-info">
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}

<form method="post">
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Get History</button>
    </div>
</form>

{% if hist_results %}
<br>
<div>
    <h2>History:</h2>
    {{hist_results|safe}}
</div>

{% endif %}

{% endblock %}