{% extends 'base.html' %}

{% block content %}
<div class="content-section">
    <div class="content-block">
        <h1 class="content-title">{% block title %} Search Listings {% endblock %}</h1>
        <p class="content-description">Search an area on Zillow and filter by whatever criteria you want. Copy that URL when you're ready and paste it here! We will collect all those listings and analyze the area for good deals and market trends!</p>
        <form 
        method="post" 
        class="form"
        >
            <div class="form-group3">
                <input type="text" name="url" placeholder="Paste URL here" class="form-control" value="{{ request.form['url'] }}"></input>
            </div>
            <div class="form-group3">
                <button type="submit" class="btn-primary">Submit</button>
            </div>
        </form>
        {% if success_message %}
            <div class="alert alert-success">{{ success_message }}</div>
        {% endif %}
    </div>
    
    <div class="content-block">
        <h1 class="content-title">Predict Good Deals</h1>
        <p class="content-description">Use a linear regression machine learning model to get predicted prices of the properties in the database and compare them with the actual prices to find undervalued properties.</p>
        <form 
        method="post" 
        class="form"
        >
            <div class="form-group3">
                <button type="submit" name="predict" class="btn-primary">Predict</button>
            </div>
        </form>
        <div class="responsive-table">
            {{ predict_result|safe }}
        </div>
    </div>

    <div class="content-block">
        <h1 class="content-title">Analyze Area Trends</h1>
        <p class="content-description">Conduct Exploratory Data Analysis (EDA) on the properties in the database.</p>
        <form 
        method="post" 
        class="form"
        >
            <div class="form-group3">
                <button type="submit" name="analyze" class="btn-primary">Analyze</button>
            </div>
        </form>
        <div class="responsive-table">
            {{ analyze_result|safe }}
        </div>
    </div>
</div>
{% endblock %}
