{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Run <b>--nearby</b> on a given Zillow ID {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<!-- Display flashed messages here -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-info">
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}

{% if nearby %}
<br>
<div>
    <h2>Nearby Cities:</h2>
    <ul>
        {% for city in nearby %}
        <li>{{ city }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}


{% endblock %}