{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Run <b>--predict</b> on the created database {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="url">URL</label>

        <input type="text" name="url"
            placeholder="paste url" class="form-control"
            value="{{ request.form['url'] }}"></input>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<!-- Display flashed messages here -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-info">
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}

<div>
    {{result|safe}}
</div>

{% endblock %}