{% extends 'base.html' %}

{% block content %}
<!-- Page Title -->
<h1>{% block title %} Get Property Details! {% endblock %}</h1>

<!-- Add search bar and submit button for an address/zpid here: -->
<form method="post">
    <div class="form-group">
        <label for="search_term">Please enter the Zillow ID or street address of a property:</label>

        <input type="text" name="search_term" placeholder="Zillow ID" class="form-control"
            value="{{ request.form['search_term'] }}"></input>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>




<!-- Add other page details here: -->

<!--Favorites-->
<h2>Favorites</h2>
{% if favorites %}
    <div class="d-flex flex-wrap">
        {% for property in favorites %}
        <!-- Bootstrap card for each favorite property -->
        <div class="card m-2" style="width: 18rem;">
            <img class="card-img-top" src="{{ property['images'] }}" alt="Property image">
            <div class="card-body">
                <h5 class="card-title">{{ property['streetAddress'] }}</h5>
                <p class="card-text">
                    Price: ${{ property['price'] }} | Beds: {{ property['num_beds'] }} | Baths: {{ property['num_baths'] }} | Sqft: {{ property['sqft'] }}
                </p>
                <a href="{{ url_for('property', zpid=property['zillow_ID']) }}" class="btn btn-primary">View Details</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p>No favorite properties added yet.</p>
{% endif %}


<!-- Displays ALL Properties in DB (History essentially) -->
<!-- right now it is just a series of links but eventually each property will be displayed w/ a bootstrap CARD -->
<br>
<h2>Search History</h2>
<div class="d-flex flex-row">
    {% for property in properties %}
    <!-- bootstrap cards-->
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ property['images'] }}" alt="Card image cap"> <!-- insert property picture here -->
        <div class="card-body">
            <h5 class="card-title"> <a href=" {{url_for('property', zpid=property['zillow_ID']) }}" style="text-decoration: none;color:black;">
                <h2>{{ property['streetAddress'] }}</h2>
                </a>
            </h5>
            <p class="card-text"> price: ${{ property['price'] }} | beds: {{ property['num_beds'] }} | baths: {{ property['num_baths'] }} | sqft: {{ property['sqft'] }}</p>
    </div>
</div>
    <hr>
    {% endfor %}
</div>
{% endblock %}
