{% extends 'base.html' %} {% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.assistant.css') }}" />

<div class="chat" id="openChatbotButton" onclick="this.classList.toggle('active')">
  <div class="button-background"></div>
  <svg class="chat-bubble" width="100" height="100" viewBox="0 0 100 100">
    <g class="bubble">
      <path class="line line1" d="M 30.7873,85.113394 30.7873,46.556405 C 30.7873,41.101961
        36.826342,35.342 40.898074,35.342 H 59.113981 C 63.73287,35.342
        69.29995,40.103201 69.29995,46.784744" />
      <path class="line line2" d="M 13.461999,65.039335 H 58.028684 C
          63.483128,65.039335
          69.243089,59.000293 69.243089,54.928561 V 45.605853 C
          69.243089,40.986964 65.02087,35.419884 58.339327,35.419884" />
    </g>
    <circle class="circle circle1" r="1.9" cy="50.7" cx="42.5" />
    <circle class="circle circle2" cx="49.9" cy="50.7" r="1.9" />
    <circle class="circle circle3" r="1.9" cy="50.7" cx="57.3" />
  </svg>
</div>

<!-- Initially hide the chatbot window -->
<div class="chat_window" style="display: none">
  <div class="top_menu">
    <div class="title">Real Estate Assistant</div>
  </div>
  <ul class="messages"></ul>
  <div class="bottom_wrapper clearfix">
    <div class="message_input_wrapper">
      <input class="message_input" placeholder="Type your message here..." />
    </div>
    <div class="send_message">
      <div class="icon"></div>
      <div class="text">Send</div>
    </div>
  </div>
  <div class="message_template">
    <li class="message">
      <div class="avatar"></div>
      <div class="text_wrapper">
        <div class="text"></div>
      </div>
    </li>
  </div>
</div>

<div class="container mt-5">
  <div class="card mb-4">
    <div id="propertyImagesCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        {% for image in images %}
        <div class="carousel-item{% if loop.first %} active{% endif %}">
          <img src="{{ image }}" class="d-block w-100 carousel-img" alt="Property Image" />
        </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#propertyImagesCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#propertyImagesCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- Property Detail -->
    <div class="card-body">
      <h2 class="card-title">{{ property['streetAddress'] }}</h2>
      <div class="row">
        <div class="col">
          <ul class="card-text">
            <li><strong>Price:</strong> {{ "${:,.0f}".format(property['price']) }}</li>
            <li><strong>Beds:</strong> {{ property['num_beds'] }}</li>
            <li><strong>Baths:</strong> {{ property['num_baths'] }}</li>
            <li><strong>Sqft:</strong> {{ "{:,.0f}".format(property['sqft']) }}</li>
            <li><strong>House Type:</strong> {{ property['house_type'] }}</li>
            <li><strong>Zestimate®:</strong> ${{ property['zestimate'] }}</li>
          </ul>
          <!-- Toggle Favorites Button -->
          {% if property['is_favorite'] %}
          <form action="{{ url_for('remove_from_favorites') }}" method="post">
            <input type="hidden" name="zpid" value="{{ property['zillow_ID'] }}" />
            <button type="submit" class="btn btn-danger">
              Remove from Favorites
            </button>
          </form>
          {% else %}
          <form action="{{ url_for('add_to_favorites') }}" method="post">
            <input type="hidden" name="zpid" value="{{ property['zillow_ID'] }}" />
            <button type="submit" class="btn btn-warning">Add to Favorites</button>
          </form>
          {% endif %}
        </div>
        <div class="col">
          <ul class="card-text">
            <li><strong>Price Relative to Listings in Zipcode</strong>

              {% set rel_price = property['rel_price'] | float %}
              {% set style = 'color:red;' if rel_price >= 0 else 'color:green;' %}
              {% set formatted_rel_price = "+{:.0f}%".format(rel_price) if rel_price >= 0 else
              "{:.0f}%".format(rel_price) %}
              <span style="{{ style }}">
                {{ formatted_rel_price }}
              </span>

              <!-- <span style="{{ 'color:red;' if property['rel_price'] >= 0 else 'color:green;' }}">{% if property['rel_price'] >= 0 %}+{{ property['rel_price'] }}%{% else %}{{ property['rel_price'] }}%{% endif %}</span>-->
            </li>
            <li><strong>Price per Sqft:</strong> ${{ property['price_per_sqft'] }}</li>
            <li>
              <strong>Estimated Rent:</strong>
              {% set monthly_rent = property['monthly_rent'] | default(0) | float %}
              ${{ "{:,.0f}".format(monthly_rent) }}
            </li>
            <li><strong>Property Tax Rate:</strong> {{ property['property_tax'] }}%</li>
            <li><strong>30 Year Mortgage Rate:</strong> {{ property['thirty_year_mortgage'] }}%</li>
            <li><strong>15 Year Mortgage Rate:</strong> {{ property['fifteen_year_mortgage'] }}%</li>
          </ul>
          <!-- Mortgage calculator button-->
          <button type="submit" class="btn btn-large btn-secondary" data-bs-toggle="modal"
            data-bs-target="#mortgageCalculator">
            Mortgage Calculator
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 mx-auto">
    <!-- Description Section -->
    <div>
      <h3>Description</h3>
      <p>{{ property['description'] }}</p>
    </div>
    <!-- Nearby Schools Section -->
    <div class="mb-4">
      <h3>Nearby Schools</h3>
      {% if property['nearby_schools'] %}
      <ul class="list-group">
        {% for school in property['nearby_schools'] %}
        <li class="list-group-item">
          <strong>{{ school['name'] }}</strong>
          <span>Grade: {{ school['grade'] }}</span>
          <span>Distance: {{ school['distance'] }} miles</span>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No nearby school information available.</p>
      {% endif %}
    </div>
  </div>
</div>
</div>

<!-- Modal for mortgage calculator -->
<div class="modal" id="mortgageCalculator" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Mortgage Calculator</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Form inside the modal -->
        <form id="mortgageForm">
          <div class="mb-3">
            <label for="downPayment-input" class="form-label">Down Payment</label>
            <input type="number" class="mortgage-modal" id="downPayment-input" required />
          </div>
          <button type="submit" class="btn btn-primary" onclick="calculateMortgage()">
            Submit
          </button>
        </form>
        <div id="mortgageResults"></div>
      </div>
    </div>
  </div>
</div>

<!-- mortgage calculator function-->
<script>
  function calculateMortgage() {
    // prevent form submission if called on form submit
    event.preventDefault();

    // get input values
    const downPayment = parseFloat(
      document.getElementById("downPayment-input").value
    );
    // loan amount
    const loanAmount = "{{property['price']}}" - downPayment;

    // convert interest rate to decimal
    const fifteenInterestRate = "{{property['fifteen_year_mortgage']}}" / 100;
    const thirtyInterestRate = "{{property['thirty_year_mortgage']}}" / 100;


    // Calculate payments for fixed terms
    const fifteenFixed = (loanAmount * (fifteenInterestRate / 12) * (1 + (fifteenInterestRate / 12)) ** (12 * 15)) / ((1 + (fifteenInterestRate / 12)) ** (12 * 15) - 1)
    const thirtyFixed = (loanAmount * (thirtyInterestRate / 12) * (1 + (thirtyInterestRate / 12)) ** (12 * 30)) / ((1 + (thirtyInterestRate / 12)) ** (12 * 30) - 1)

    // interest only loans
    //const interestOnly = loanAmount * (interestRate / 12)
    // results
    let resultsHTML = `15-Year Fixed Monthly Payment: $${fifteenFixed.toFixed(
      2
    )}<br>`;
    resultsHTML += `30-Year Fixed Monthly Payment: $${thirtyFixed.toFixed(
      2
    )}<br>`;
    //resultsHTML += `Interest Only Monthly Payment: $${interestOnly.toFixed(2)}<br>`;

    document.getElementById("mortgageResults").innerHTML = resultsHTML;
  }
</script>

<!-- Import jquery and AI assistant functions -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/assistant.js') }}"></script>
{% endblock %}