{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Run <b>--year</b> on a given Zillow ID {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="zpid">Please enter a Zillow ID:</label>

        <input type="number" name="zpid"
            placeholder="Zillow ID" class="form-control"
            value="{{ request.form['zpid'] }}"></input>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<!-- Display flashed messages here -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-info">
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}

<div>
    {{dict|safe}}
</div>
<div>
    {{df|safe}}
</div>

{% endblock %}